{% extends 'all_photos/base.html' %}
{% block content %} 

    <!-- begin col-9 -->

        <ul class="p-2  w-100vw">
          {% for photo in photos %}
            <li class="m-1 d-flex justify-content-start">
                <span>
                    <img src="{{photo.image.url}}" alt="My Photo" loading="lazy">
                </span>
            <div class="p-5">
                <p>
                    description
                </p>
            </div>
                    
            </li>
            {% endfor %}
          </ul>
{%endblock%}