@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3.5rem;
    --nav-width: 68px;
    --first-color: #210055;
    --first-color-light: #AFA5D9;
    --white-color: #2d1f5f;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0; 
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .6s ease-in;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}
/* #breadcrumb {
    box-shadow: 1px 1px #d5d4d4;
    background: #eeeded;
    border: 1px solid #eeeded;
    border-radius: 5px;
    padding: 0 5px 0 10px;
    font-size: 16px;
    } */
.l-navbar {
    position: fixed;
    bottom: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}
.tooltip {
    display: inline-block;
    position: absolute;
    background-color: beige;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: visible;
    font-size: 13px;
    letter-spacing: .5px;
}
.tooltip::before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        top: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
    }
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}


.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


    
    .p-20, .wrapper {
        padding: 20px!important;
    }
    
    .btn.btn-white {
        color: #30373e;
        background: #fff;
        -webkit-box-shadow: 0 1px #b1b5b8;
        box-shadow: 0 1px #b1b5b8;
    }
    
    .gallery-list {
        list-style-type: none;
        margin: -5px -5px 15px;
        padding: 0
    }
    
    .gallery-list>li {
        float: left;
        width: 20%;
        padding: 5px
    }
    
    .gallery-list>li .image-container {
        border-radius: 5px;
        background: #fff;
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .07);
        box-shadow: 0 2px 0 rgba(0, 0, 0, .07)
    }
    
    .gallery-list>li .image {
        padding-top: 20%;
        position: relative; 
        overflow: hidden;
        border-radius: 5px 5px 0 0
    }
    
    .gallery-list>li .image img {
        max-width: 100%;
        left: 0;
        right: 0;
        z-index: 1000
    }
    
    .gallery-list>li .btn-list {
        /* position: absolute; */
        left: 10px;
        top: 10px;
        right: 10px;
        z-index: 1020
    }
    
    .gallery-list>li .info {
        padding: 8px 10px
    }
    
    .gallery-list>li .info * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    
    .gallery-list>li .info h5 {
        margin: 0;
        font-size: 12px
    }
    
    @media (max-width:991px) {
        .gallery-list>li {
            width: 33.33%
        }
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
      }
      
      li {
        height: 40vh;
        flex-grow: 1;
        list-style: none;
      }
      
      li:last-child {
        flex-grow: 10;
      }
      
      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
      
     
      @media (max-aspect-ratio: 1/1) {
        li {
          height: 30vh;
        }
      }
      
      
      @media (max-height: 480px) {
        li {
          height: 80vh;
        }
      }
      
      
      @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
        ul {
          flex-direction: row;
        }
      
        li {
          height: auto;
          width: 100%;
        }
        img {
          width: 100%;
          max-height: 75vh;
          min-width: 0;
        }
      }
    @media (max-width:480px) {
        .gallery-list>li {
            width: 50%
        }
    }
    
    
    
    .tag-list {
        list-style-type: none;
        margin: 0;
        padding: 0
    }
    
    .tag-list>li {
        float: left;
        margin-right: 5px;
        margin-bottom: 5px
    }
    
    .tag-list>li a,
    .tag-list>li span {
        border: 2px solid #ebeced;
        border-radius: 40px;
        color: #30373e;
        font-size: 11px;
        padding: 2px 8px;
        display: block
    }
    
    .tag-list>li.active a,
    .tag-list>li.active span {
        color: #30373e;
        border-color: #30373e
    }